<section class="page-section" id="provider-add">
    <div class="container">
        <h2 class="text-center mt-0">ADDED SUCCESSFULLY</h2>
        <hr class="divider my-4" />
        <div>
            <p>ADDED SUCCESSFULLY</p>
        </div>
    </div>
</section>