<section class="page-section" id="provider-update">
    <div class="container">
        <h2 class="text-center mt-0">UPDATED SUCCESSFULLY</h2>
        <hr class="divider my-4" />
        <div>
            <p>UPDATED SUCCESSFULLY</p>
        </div>
    </div>
</section>